body{
    overflow: hidden;
  }
  
  h1{
    text-align: center;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 800;
    font-size: 10rem;
    overflow-wrap: break-word;
    line-height: 7rem;
    margin: inherit;
  }
  
  p{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    text-align: center;
  }
  
  .header{
    width: 80vw;
    margin: 30vh auto 5vh auto;
    color: #282828;
  }
  
  .foreHeader{
    display: none;
  }
  
  .nameHeader{
    display: none;
  }
  
  .copy{
    width: 60vw;
    margin: auto;
  }
  
  .defaultCopy{
    display: none;
  }
  
  .playerCopy{
    display: none;
  }
  
  .inputs{
    margin-top: 5vh;
    text-align: center;
  }
  
  .nameInputForm{
    display: none;
  }